body {
    background-color: rgb(68, 65, 68);
    margin:0;
}

.content {
    width: 100%;
    position: relative;
    
    
}

.nav {
    background-color: rgb(15, 15, 15);
  
}

.background {
    width: 100%;
    max-height: auto;
}

.portret {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.nav-item {
    border-right: 1px solid rgba(128, 128, 128, 0.7);
    
}

.nav-link {
    transition-duration: 0.3s;
}

.nav-link:hover {
    background-color:rgb(97, 97, 97);
}

.nav-link:active {
    background-color:red;
}


.text {
    position: absolute;
    width: 100%;
    top: 50%;
    bottom: 50%;
    
}



h1 {
    color: yellow;
   text-align: center;
}

.left {
    text-align:right;
    font-size: 1.5em;
    font-weight: bold;
}

.row {
    margin-top: 2%;
    color:rgb(226, 222, 222);
}

.middle {
    text-align:justify;
    padding: 0 5%;
}