body {
    background-color: rgb(109, 99, 110);
    margin:0;
}

.content {
    width: 100%;
    position: relative;
    
    
}

.background {
   width: 100%;
   max-height: 700px;
    
}

.nav {
    background-color: rgb(15, 15, 15);
}



.nav-item {
    border-right: 1px solid gray;
    
}


.text {
    position: absolute;
    width: 100%;
    top: 50%;
    bottom: 50%;
    
}

h1 {
    color: yellow;
   text-align: center;
}

.left {
    text-align:right;
}

.row {
    margin-top: 2%;
}

.middle {
    text-align:left;
    padding: 0 5%;
}